@import "locate://bit-docs-site/styles/variables.less";

/**
 * @parent bit-docs-html-highlight-line/static
 * @module bit-docs-html-highlight-line/static/styles/highlight-line.less
 *
 * @description Base styles for highlight tag.
 *
 * @body
 *
 * Adds styling for the `.expand` element.
 *
 * The `.expand` element gets added onload when the `only` option is used with
 * the highlight tag, and the code block has lines before/after the highlight.
 */
article {
  code {
    .expand {
      color: black;
      padding: 4px 0px;
      text-align: center;
      background-color: #eee;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .expand:before {
      width: 15px;
      height: 15px;
      margin: 0 auto;
      display: block;
      content: '⇅ EXPAND ⇅';
    }
    .expand:hover {
      opacity: .6;
      cursor: pointer;
    }
  }
}
